<div class="center">
 
  <%= link_to image_tag("TitleIcon.png", alt: "Chore Monkey"), root_path %>

  <h1>
    Stop monkeying around and hire a student to help with those chores!
  </h1>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

